[submodule "external/nclang"]
	path = external/nclang
	url = https://github.com/atsushieno/nclang.git
[submodule "external/libsoundio"]
	path = external/libsoundio
	url = https://github.com/VoiceAmongUs/libsoundio.git
	branch = v2
